body {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)),
    url("/bg_sciences.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

.h-100 {
  height: 100vh;
}

.h-50 {
  height: 50vh;
}
.h-80 {
  height: 80vh;
}

.reponse {
  height: 80px;
}

.is-flex-basis50 {
  flex-basis: 45%;
}

.w300 {
  width : 400px!important;
  text-align: center;
}

.box_eva {
  width: 300px;
  height: auto;
  aspect-ratio: 1;
  outline: 1px solid rgb(206, 204, 204);
  outline-style: dashed;
  outline-offset: -15px;
}

.exit_eva_btn {
  position : absolute;
  right : 5vw

}

a {
  color: inherit!important;
}

.bg-light-50 {
  background-color: rgba(255, 255, 255, 0.671);
}

.footer-absolute {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.671);

}

.button {
  white-space: normal;
}

button:focus {
  border-color: brown;
}

.is-active button {
  font-weight: bold!important;
  background-color: beige!important;
}

.is-selected {
  background-color: rgb(227, 222, 98)!important;

}
.is-correct {
  border: solid 5px rgb(74, 219, 71)!important;
}

.position-fixed {
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.header_blank {
  padding-top: 200px;
  padding-bottom: 100px;
}

.cursor {
  cursor: pointer;
  
}

